<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include src/templates/common/_head %>
  </head>
  <body>
    <div class="wrap">
      <div class="info"><%- include src/templates/index/_info %></div>
      <header class="header"></header>
      <main class="main"><%- include src/templates/index/_main %></main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
